.button
{
-fx-background-color : #3554D1;
-fx-text-fill : #ffffff;
}
.button:hover{
-fx-background-color : #0D2857;
}
.button:pressed
{
-fx-background-color : #1620A1;
}

.button-search {
    -fx-background-color: #FFFFFF;
}

.button-search:hover{
    -fx-background-color : #D4EBF8;
}
.button-search:pressed
{
    -fx-background-color : #1620A1;
}

.scroll-pane-color {
    -fx-background-color: #D4EBF8;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

